<header>
    <div class="container header-container">
        <div>
            <a href="/" class="logo">
                <img src="/images/logo/BarkrNoText.png" alt="Barkr Logo" height="664" width="801" class="logo">
                <h1>Barkr</h1>
            </a>
        </div>
        <div class="auth-buttons">
            <a th:href="@{/login}" class="btn" th:unless="${#authentication.name != 'anonymousUser'}" th:text="#{sign.in}">Sign in</a>
            <form th:href="@{/logout}" class="btn" th:if="${#authentication.name} != 'anonymousUser'}" style="display: inline;">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit" class="btn" th:text="#{sign.out}" th:text="#{sign.out}">Sign out</button>
            </form>
            <div>
                <select id="languageSelect" onchange="changeLanguage(this.value)">
                    <option value="en" lang="en" th:selected="${#locale.language == 'en'}">English</option>
                    <option value="sv" lang="sv" th:selected="${#locale.language == 'sv'}">Swedish</option>
                </select>
            </div>
            <div class="theme-toggle" id="theme-toggle" role="button" aria-label="Toggle theme" tabindex="0">
                <div class="theme-toggle-icon">
                    <span id="theme-icon">☀️</span>
                </div>
            </div>
        </div>
    </div>
</header>
