<div th:fragment="post(post)" class="card">
    <div class="post-header">
        <img th:src="@{'/account/' + ${post.account.id} + '/image'}" alt="Profile Picture">
        <div class="user-info">
            <h4 th:text="${post.account.username}">Unknown user</h4>
            <span th:text="${#temporals.format(post.createdAt, 'h:mm a · d MMM yyyy', #locale)}">Unknown date</span>
        </div>
    </div>
    <div class="post-content">
        <p th:text="${post.content}">No provided body</p>
    </div>
</div>